<div class="app-layout" [class.light-mode]="lightmode">
  
  <div class="navbar">
    <nav>
        <div class="nav-group">
        <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Plots</a></li>
        <li><button [class]="lightmode ? 'btn-light' : 'btn-dark'" (click)="toggleLightMode()"> 
          @if(lightmode){
            <span class="material-symbols-outlined">light_mode</span>
          }@else{
            <span class="material-symbols-outlined">dark_mode</span>
          }
        </button>
        </li>
      </ul>
      </div>
      <div class="logo">
        <h2>El Fa7l signalflow solver</h2>
      </div>
        <div class="btns">
          <button class="btn">
            <span class="material-symbols-outlined" (click)="undoState()">undo</span>
          </button>
          <button class="btn">
            <span class="material-symbols-outlined" (click)="redoState()">redo</span>
          </button>
          <button (click)="drawing=!drawing" class="btn">
            @if(drawing){
              <span class="material-symbols-outlined">delete</span>
            }@else{
              <span class="material-symbols-outlined">edit</span>
            } 
          </button>
  
        </div>
      </nav>
</div>
  <div class="UI-container">
    <div class="solution">
      <h2>SFG solver</h2>
      <div class="buttons">
        <button class="SSBtn" (click)="takeSnapshotimage()"> Take Screenshot </button>
        <button class="SSBtn" (click)="downloadImage()" [disabled]="!jpg64"> Download Image </button>
      </div>
      @if(jpg64) {
        <div style="margin-top: 20px;">
          <h3>Snapshot:</h3>
          <img [src]="jpg64" style="width:100%;"/>
        </div>
      }
      <div class="selected_solve">
        @if(selected_nodes.length == 2){
        <span>Source: {{selected_nodes[0]}}</span>
        <span>Target: {{selected_nodes[1]}}</span>
        }
      <button (click)="solve()">Solve</button>
    </div>
    <div class="view_panel">
      <div class="card-header">
        <div class="header-left">
          <span class="status-circle"></span>
          <span class="badge">SYSTEM ANALYSIS</span>
        </div>
      </div>
      <h2 class="panel-title">Mason's Gain Results</h2>
      @if(transferFunction){
        <div class="result-row">
          <span class="label">TRANSFER FUNCTION</span>
          <div class="value-box orange">{{transferFunction}}</div>
        </div>
      }
      @for (item of forward_paths; track $index;let i = $index) {
        <div class="result-row">
          <div class="">
         <span class="label">FORWARD PATH {{i+1}}</span>
         <div class="value-box purple">{{item}}</div>
        </div>
        <button [class.button_show]="highlight === item"
        [class.button_hide]="highlight !== item"
        (click)="f_highlight(item)"
        ></button>
        </div>
      }
    
      @for (item of all_loops; track $index;let i = $index) {
        <div class="result-row">
          <div class="">
          <span class="label">LOOP {{i+1}}</span>
          <div class="value-box blue">{{item}}</div>
        </div>
        <button [class.button_show]="highlight === item"
        [class.button_hide]="highlight !== item"
                (click)="f_highlight(item)"
                ></button>
        </div>
      }

      @if (touchGroups) {
        @for (group of touchGroups.keys(); track $index;) {
          <div class="result-row">
            <div class="">
            <span class="label">{{ group }}</span>
            @for (loops of group; track $index) {
              <div class="value-box blue">{{ touchGroups.get(group) }}</div>
            }
          </div>
          </div>
        }
      }

      <!-- @for (item of forward_paths; track $index; let i = $index) {
        <div class="forward_paths">
          <span>{{item}}</span>
        </div>
      } -->

    </div>
  </div>
    <div #canvas class="canvas-container"></div>

  </div>
</div>
